.main-container {
  color: white;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  background-image: url("https://media.istockphoto.com/photos/black-and-white-portrait-of-a-friendly-adult-man-picture-id1211615207?b=1&k=20&m=1211615207&s=170667a&w=0&h=a9UrtW2R02aqPIflivtxfUfaVQZuKYEYlJxWEM1lOCk=");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
}

.text-container {
  padding: 3rem;
}

.main-title {
  font-size: 2rem;
}

.main-subtitle {
  font-size: 3rem;
}
.main-description {
  font-size: 1.5rem;
  width: 50%;
}
